
<h1>TinyApp</h1>
<% if (user) { %>

    <div class="form-inline">
    <h6>Logged in as: <%= user.email %></h6>
    <form method="POST" action="/logout"><button class="btn btn-danger" style="margin: 1em">Logout</button></form>
    </div>
<% } else { %>
     <div class="form-inline">
            <a style="margin: 1em" href="/login">Login</a> | <a style="margin: 1em" href="/register">Register</a> 
    </div>
<% } %>
