<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">
    <!-- Add EJS code here -->
    <header>
        <% include partials/_header.ejs %>
    </header>
    <a href="#">Create New TinyURL</a>
    <p></p>
    <h2>My URLs</h2>

    <% for (const key in urls) { %>
        <span class="form-inline"><strong><%= urls[key] %></strong> - <%= key %>
        <a style="margin: 1em" href="urls/<%= key %>">Edit</a>
        <form method="POST" action="/urls/<%= key %>/delete"><button class="btn btn-danger" style="margin: 1em">delete</button></form></span>
    <% } %>
</body>
</html>